In [1]:
import pandas as pd

[2023년도 인기관광지 전체] 데이터

In [48]:
popreg_23=pd.read_csv("C:/Users/YujinCho/OneDrive/DAS/data/프로젝트1/20240109005532_서울특별시_202301-202311_데이터랩_다운로드/20240109005532_인기관광지_전체.csv", encoding='cp949')
popreg_23

     순위            관광지명                  주소     분류  Unnamed: 4
0     1       김포국제공항국내선    서울 강서구 하늘길 111-0   교통시설     1746289
1     2           더현대서울  서울 영등포구 여의대로 108-0    백화점      871653
2     3             서울역   서울 용산구 한강대로 405-0   교통시설      868586
3     4          SRT수서역    서울 강남구 밤고개로 99-0   교통시설      835251
4     5             코엑스   서울 강남구 영동대로 513-0   전시시설      667469
..  ...             ...                 ...    ...         ...
95   96        NC백화점불광점     서울 은평구 불광로 20-0    백화점       84001
96   97  롯데백화점에비뉴엘월드타워점   서울 송파구 올림픽로 300-0    백화점       82553
97   98             가락몰   서울 송파구 양재대로 932-0     시장       81516
98   99          롯데호텔월드   서울 송파구 올림픽로 240-0     호텔       81494
99  100         북악스카이웨이              서울 종로구  데이트코스       80482

[100 rows x 5 columns]

In [49]:
popreg_23.rename(columns={'Unnamed: 4':'방문객 수'}, inplace=True) #바뀐 열 이름 적용
popreg_23

     순위            관광지명                  주소     분류    방문객 수
0     1       김포국제공항국내선    서울 강서구 하늘길 111-0   교통시설  1746289
1     2           더현대서울  서울 영등포구 여의대로 108-0    백화점   871653
2     3             서울역   서울 용산구 한강대로 405-0   교통시설   868586
3     4          SRT수서역    서울 강남구 밤고개로 99-0   교통시설   835251
4     5             코엑스   서울 강남구 영동대로 513-0   전시시설   667469
..  ...             ...                 ...    ...      ...
95   96        NC백화점불광점     서울 은평구 불광로 20-0    백화점    84001
96   97  롯데백화점에비뉴엘월드타워점   서울 송파구 올림픽로 300-0    백화점    82553
97   98             가락몰   서울 송파구 양재대로 932-0     시장    81516
98   99          롯데호텔월드   서울 송파구 올림픽로 240-0     호텔    81494
99  100         북악스카이웨이              서울 종로구  데이트코스    80482

[100 rows x 5 columns]

In [50]:
#총 방문객 수, 평균 방문객 수
a = [ popreg_23['방문객 수'].sum(), popreg_23['방문객 수'].mean() ]
print(f"총 방문객 수: ,{a[0]}")
print(f"평균 방문객 수:. {a[1]}")

총 방문객 수: ,23330681
평균 방문객 수:. 233306.81

In [59]:
# 행정구역 나누기
popreg_23['행정구역'] = popreg_23['주소'].apply(lambda x: x.split('구')[0] + '구' if '구' in x else x)
popreg_23

     순위            관광지명                  주소     분류    방문객 수     행정구역
0     1       김포국제공항국내선    서울 강서구 하늘길 111-0   교통시설  1746289   서울 강서구
1     2           더현대서울  서울 영등포구 여의대로 108-0    백화점   871653  서울 영등포구
2     3             서울역   서울 용산구 한강대로 405-0   교통시설   868586   서울 용산구
3     4          SRT수서역    서울 강남구 밤고개로 99-0   교통시설   835251   서울 강남구
4     5             코엑스   서울 강남구 영동대로 513-0   전시시설   667469   서울 강남구
..  ...             ...                 ...    ...      ...      ...
95   96        NC백화점불광점     서울 은평구 불광로 20-0    백화점    84001   서울 은평구
96   97  롯데백화점에비뉴엘월드타워점   서울 송파구 올림픽로 300-0    백화점    82553   서울 송파구
97   98             가락몰   서울 송파구 양재대로 932-0     시장    81516   서울 송파구
98   99          롯데호텔월드   서울 송파구 올림픽로 240-0     호텔    81494   서울 송파구
99  100         북악스카이웨이              서울 종로구  데이트코스    80482   서울 종로구

[100 rows x 6 columns]

In [60]:
# 행정구역 잘 나뉘었는지 체크 -> '서울 구'를 '서울 구로구'로 대체
print(popreg_23['행정구역'].unique())
print('-------------------------------------------')
lst=popreg_23[popreg_23['행정구역']=='서울 구'].index
print(lst) 
print('-------------------------------------------')
popreg_23.replace('서울 구', '서울 구로구', inplace=True)
print(popreg_23['행정구역'].unique())

['서울 강서구' '서울 영등포구' '서울 용산구' '서울 강남구' '서울 서초구' '서울 송파구' '서울 광진구' '서울 중구'
 '서울 양천구' '서울 동작구' '서울 동대문구' '서울 노원구' '서울 성동구' '서울 은평구' '서울 서대문구' '서울 마포구'
 '서울 성북구' '서울 종로구' '서울 강동구' '서울 금천구' '서울 구' '서울 강북구' '서울 관악구']
-------------------------------------------
Int64Index([77, 81], dtype='int64')
-------------------------------------------
['서울 강서구' '서울 영등포구' '서울 용산구' '서울 강남구' '서울 서초구' '서울 송파구' '서울 광진구' '서울 중구'
 '서울 양천구' '서울 동작구' '서울 동대문구' '서울 노원구' '서울 성동구' '서울 은평구' '서울 서대문구' '서울 마포구'
 '서울 성북구' '서울 종로구' '서울 강동구' '서울 금천구' '서울 구로구' '서울 강북구' '서울 관악구']

In [61]:
# 행정구역별 총 방문객 수, 평균 방문객 수
popreg_23.groupby('행정구역').agg(['sum', 'count', 'mean']).round(2)

          순위                 방문객 수
         sum count   mean      sum count       mean
행정구역
서울 강남구   502    11  45.64  3052369    11  277488.09
서울 강동구    68     1  68.00   115903     1  115903.00
서울 강북구    85     1  85.00    96347     1   96347.00
서울 강서구   236     7  33.71  3090638     7  441519.71
서울 관악구    94     1  94.00    89001     1   89001.00
서울 광진구   197     5  39.40  1184347     5  236869.40
서울 구로구   160     2  80.00   200746     2  100373.00
서울 금천구   163     2  81.50   202427     2  101213.50
서울 노원구    32     1  32.00   220311     1  220311.00
서울 동대문구  122     2  61.00   318302     2  159151.00
서울 동작구    23     1  23.00   289082     1  289082.00
서울 마포구   189     3  63.00   382351     3  127450.33
서울 서대문구   42     1  42.00   184105     1  184105.00
서울 서초구   601    12  50.08  2566206    12  213850.50
서울 성동구    35     1  35.00   200407     1  200407.00
서울 성북구    48     1  48.00   157710     1  157710.00
서울 송파구   719    13  55.31  2725830    13  209679.23
서울 양천구    19     1  19.00   356126     1  356126.00
서울 영등포구  205     7  29.29  2640512     7  377216.00
서울 용산구   382     9  42.44  2536438     9  281826.44
서울 은평구   132     2  66.00   283166     2  141583.00
서울 종로구   539     7  77.00   771231     7  110175.86
서울 중구    457     9  50.78  1667126     9  185236.22