[상권임대시세] 데이터

2023년도

In [2]:
import pandas as pd

# 파일 경로 설정
file1 = "C:/Users/YujinCho/OneDrive/DAS/data/프로젝트1/상권임대시세데이터/2023_소규모상가.csv"
file2 = "C:/Users/YujinCho/OneDrive/DAS/data/프로젝트1/상권임대시세데이터/2023_중대형상가.csv"
file3 = "C:/Users/YujinCho/OneDrive/DAS/data/프로젝트1/상권임대시세데이터/2023_집합.csv"

# CSV 파일을 DataFrame으로 읽어오기
df1 = pd.read_csv(file1,encoding='cp949')
df2 = pd.read_csv(file2,encoding='cp949')
df3 = pd.read_csv(file3,encoding='cp949')

# 데이터프레임 합치기 (세로로 합치기)
merged_df = pd.concat([df1, df2, df3], ignore_index=True)

# 합쳐진 결과를 CSV 파일로 저장
merged_df.to_csv('2023_data.csv', index=False)
file4=merged_df.to_csv('2023_data.csv', index=False)
df4 = pd.read_csv('2023_data.csv')

C:\Users\YujinCho\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\YujinCho\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\YujinCho\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,1,4,5,6,7,8,9,11,12,17,18,19,20,22,23,24,25,26,27,28,29,30,31,32,73,74,75,76,77,78,79,80,81,82,83,86,87) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df4.head()

,표본구분,광역상권,상권명,소재지,용도지역1명,용도지역2명,용도지구1명,용도지구2명,이용현황_지상층수,이용현황_지하층수,...,주용도,지상층수,지하층수,승강기수,용도지역,전통시장,기준층,최종조사산정액_㎡당 단가,기타수입_㎡당 단가,영업경비_㎡당 단가
0,소규모상가,0.비상권,0.비상권,서울특별시 종로구,제2종일반주거지역,없음,고도지구,없음,1~2층,지하층 없음,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,소규모상가,0.비상권,0.비상권,서울특별시 종로구,제2종일반주거지역,없음,고도지구,없음,1~2층,지하층 없음,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,소규모상가,0.비상권,0.비상권,서울특별시 종로구,제2종일반주거지역,없음,고도지구,없음,1~2층,지하층 없음,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,소규모상가,0.비상권,0.비상권,서울특별시 종로구,제2종일반주거지역,없음,고도지구,없음,1~2층,지하층 없음,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,소규모상가,0.비상권,0.비상권,서울특별시 종로구,제2종일반주거지역,없음,고도지구,없음,1~2층,지하층 없음,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
columns_list = df4.columns.tolist()
columns_list

['표본구분',
 '광역상권',
 '상권명',
 '소재지',
 '용도지역1명',
 '용도지역2명',
 '용도지구1명',
 '용도지구2명',
 '이용현황_지상층수',
 '이용현황_지하층수',
 '사용승인_준공_일자',
 '건물구조명',
 '용도구분명',
 '건폐율',
 '용적률',
 '지하철역출구',
 '버스정류장',
 '도로접면명',
 '옥내주차장 유무명',
 '옥외주차장 유무명',
 '승객용 승강기 ',
 '대지면적',
 '건축연면적',
 '전용면적',
 '공용면적',
 '전용률',
 '현재임대계약면적',
 '공실면적',
 '비임대면적',
 '특이면적',
 '특이면적외 기타면적',
 '지목명',
 '토지대장상 토지면적',
 '전환률',
 '조사층',
 '임차인사용현황구분',
 '임차인업종대분류',
 '임차인업종소분류',
 '전용면적(호)',
 '공용면적(호)',
 '임차인별면적합계',
 '제1월계약임대료_보증금(총액)',
 '제1월계약임대료_월세(총액)',
 '제1월계약임대료_㎡당월세임대료',
 '제1월시장임대료_보증금(총액)',
 '제1월시장임대료_월세(총액)',
 '제1월시장임대료_㎡당월세임대료',
 '제1월관리비총액',
 '제1월관리비실비총액',
 '제1월공실',
 '제2월계약임대료_보증금(총액)',
 '제2월계약임대료_월세(총액)',
 '제2월계약임대료_㎡당월세임대료',
 '제2월시장임대료_보증금(총액)',
 '제2월시장임대료_월세(총액)',
 '제2월시장임대료_㎡당월세임대료',
 '제2월관리비총액',
 '제2월관리비실비총액',
 '제2월공실',
 '제3월계약임대료_보증금(총액)',
 '제3월계약임대료_월세(총액)',
 '제3월계약임대료_㎡당월세임대료',
 '제3월시장임대료_보증금(총액)',
 '제3월시장임대료_월세(총액)',
 '제3월시장임대료_㎡당월세임대료',
 '제3월관리비총액',
 '제3월관리비실비총액',
 '제3월공실',
 '현계약개시일',
 '현계약기간',
 '최초계약개시일',
 '최종조사산정액_토지면적 ㎡단가',
 '최종조사산정액_연면적 ㎡당단가',
 '기타수입_연면적 ㎡당 단가',
 '영업경비_연면적 ㎡당 단가',
 '건축면적',
 '연면적',
 '건물구조',
 '주용도',
 '지상층수',
 '지하층수',
 '승강기수',
 '용도지역',
 '전통시장',
 '기준층',
 '최종조사산정액_㎡당 단가',
 '기타수입_㎡당 단가',
 '영업경비_㎡당 단가']

In [6]:
# 선택하고 싶은 칼럼 목록
columns_to_keep = ['상권명', '소재지', '제1월시장임대료_㎡당월세임대료','제2월시장임대료_㎡당월세임대료','제3월시장임대료_㎡당월세임대료']

# 원하는 칼럼들만 선택
filtered_df = df4[columns_to_keep]

value_to_exclude = '0.비상권'
filtered_df = filtered_df[ (filtered_df['상권명'] != value_to_exclude)]
filtered_df

          상권명        소재지  제1월시장임대료_㎡당월세임대료  제2월시장임대료_㎡당월세임대료  제3월시장임대료_㎡당월세임대료
18        광화문  서울특별시 종로구            117800            117800            117800
19        광화문  서울특별시 종로구            192300            192300            192300
20        광화문  서울특별시 종로구            155300            155300            155300
21        광화문  서울특별시 종로구            140700            140700            140700
22        광화문  서울특별시 종로구            140700            140700            140700
...       ...        ...               ...               ...               ...
70937  충주자유시장   충청북도 충주시              5800              5800              5800
70938  충주자유시장   충청북도 충주시              5700              5700              5700
70939  충주자유시장   충청북도 충주시             16500             16500             16500
70940  충주자유시장   충청북도 충주시              4000              4000              4000
70941  충주자유시장   충청북도 충주시             35000             35000             35000

[58353 rows x 5 columns]

In [7]:
#null 값이 있나 확인
rows_with_null = filtered_df[filtered_df.isnull().any(axis=1)]
rows_with_null
#null 값 없음

Empty DataFrame
Columns: [상권명, 소재지, 제1월시장임대료_㎡당월세임대료, 제2월시장임대료_㎡당월세임대료, 제3월시장임대료_㎡당월세임대료]
Index: []

In [8]:
#서울 소재지만 사용
desired_value = '서울특별시'
filtered_df = filtered_df[filtered_df['소재지'].str.contains(desired_value, case=False)]

# 결과 출력 또는 다른 처리 수행
filtered_df

       상권명        소재지  제1월시장임대료_㎡당월세임대료  제2월시장임대료_㎡당월세임대료  제3월시장임대료_㎡당월세임대료
18     광화문  서울특별시 종로구            117800            117800            117800
19     광화문  서울특별시 종로구            192300            192300            192300
20     광화문  서울특별시 종로구            155300            155300            155300
21     광화문  서울특별시 종로구            140700            140700            140700
22     광화문  서울특별시 종로구            140700            140700            140700
...    ...        ...               ...               ...               ...
64263   화곡  서울특별시 강서구             15400             15400             15400
64264   화곡  서울특별시 강서구             22500             22500             22500
64265   화곡  서울특별시 강서구             12600             12600             12600
64266   화곡  서울특별시 강서구             16700             16700             16700
64267   화곡  서울특별시 강서구             13600             13600             13600

[14531 rows x 5 columns]

In [9]:
#월세평균
column1 = '제1월시장임대료_㎡당월세임대료'
column2 = '제2월시장임대료_㎡당월세임대료'
column3 = '제3월시장임대료_㎡당월세임대료'

filtered_df['평균값'] = filtered_df[[column1, column2, column3]].mean(axis=1)
filtered_df

C:\Users\YujinCho\AppData\Local\Temp/ipykernel_18652/977564897.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['평균값'] = filtered_df[[column1, column2, column3]].mean(axis=1)

,상권명,소재지,제1월시장임대료_㎡당월세임대료,제2월시장임대료_㎡당월세임대료,제3월시장임대료_㎡당월세임대료,평균값
18,광화문,서울특별시 종로구,117800,117800,117800,117800.0
19,광화문,서울특별시 종로구,192300,192300,192300,192300.0
20,광화문,서울특별시 종로구,155300,155300,155300,155300.0
21,광화문,서울특별시 종로구,140700,140700,140700,140700.0
22,광화문,서울특별시 종로구,140700,140700,140700,140700.0
...,...,...,...,...,...,...
64263,화곡,서울특별시 강서구,15400,15400,15400,15400.0
64264,화곡,서울특별시 강서구,22500,22500,22500,22500.0
64265,화곡,서울특별시 강서구,12600,12600,12600,12600.0
64266,화곡,서울특별시 강서구,16700,16700,16700,16700.0
64267,화곡,서울특별시 강서구,13600,13600,13600,13600.0

2019년도

In [10]:
# 파일 경로 설정
filea = "C:/Users/YujinCho/OneDrive/DAS/data/프로젝트1/상권임대시세데이터/2019_소규모상가.csv"
fileb = "C:/Users/YujinCho/OneDrive/DAS/data/프로젝트1/상권임대시세데이터/2019_중대형상가.csv"
filec = "C:/Users/YujinCho/OneDrive/DAS/data/프로젝트1/상권임대시세데이터/2019_집합.csv"

# CSV 파일을 DataFrame으로 읽어오기
dfa = pd.read_csv(filea,encoding='cp949')
dfb = pd.read_csv(fileb,encoding='cp949')
dfc = pd.read_csv(filec,encoding='cp949')

# 데이터프레임 합치기 (세로로 합치기)
merged_df = pd.concat([dfa, dfb, dfc], ignore_index=True)

# 합쳐진 결과를 CSV 파일로 저장
merged_df.to_csv('2023_data.csv', index=False)
filed=merged_df.to_csv('2023_data.csv', index=False)
dfd = pd.read_csv('2023_data.csv')

C:\Users\YujinCho\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\YujinCho\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\YujinCho\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,1,4,6,7,8,9,10,11,13,14,18,20,21,22,23,24,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,82,83,84,85,86,87,88,89,90,91,94) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
dfd.head()

,표본구분,광역상권,상권명,소재지,소유형태명,소유자수,용도지역1명,용도지역2명,용도지구1명,용도지구2명,...,지상층수,지하층수,승강기수,주차장면적,용도지역,전통시장,기준층,소유자수(호),소유자형태,최종조사산정액_m당단가
0,소규모상가,0.비상권,0.비상권,서울특별시 종로구,개인,1.0,제2종일반주거지역,없음,고도지구,없음,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,소규모상가,0.비상권,0.비상권,서울특별시 종로구,개인,2.0,제2종일반주거지역,없음,고도지구,없음,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,소규모상가,0.비상권,0.비상권,서울특별시 종로구,개인,2.0,제2종일반주거지역,없음,고도지구,없음,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,소규모상가,0.비상권,0.비상권,서울특별시 종로구,개인,1.0,제2종일반주거지역,없음,특화경관지구(역사문화미관지구),고도지구,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,소규모상가,0.비상권,0.비상권,서울특별시 종로구,개인,1.0,제2종일반주거지역,없음,고도지구,없음,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
columns_list = dfd.columns.tolist()
columns_list

['표본구분',
 '광역상권',
 '상권명',
 '소재지',
 '소유형태명',
 '소유자수',
 '용도지역1명',
 '용도지역2명',
 '용도지구1명',
 '용도지구2명',
 '이용현황_지상층수',
 '이용현황_지하층수',
 '사용승인_준공_일자',
 '건물구조명',
 '용도구분명',
 '건폐율',
 '용적률',
 '지하철역출구',
 '버스정류장',
 '주요교차로',
 '도로접면명',
 '옥내주차장 유무명',
 '옥외주차장 유무명',
 '승객용 승강기 ',
 '화물용 승강기 수',
 '대지면적',
 '건축연멱적',
 '전용면적',
 '공용면적',
 '전용률',
 '현재임대계약면적',
 '공실면적',
 '비임대면적',
 '특이면적',
 '특이면적외 기타면적',
 '주차장면적 소계',
 '지상층주차장',
 '지하층주차장',
 '피로티주차장',
 '옥외주차장',
 '지목명',
 '토지대장상 토지면적',
 '전환률',
 '조사층',
 '임차인사용현황구분',
 '임차인업종대분류',
 '임차인업종소분류',
 '전용면적(호)',
 '공용면적(호)',
 '임차인별면적합계',
 '제1월계약임대료_보증금(총액)',
 '제1월계약임대료_월세(총액)',
 '제1월계약임대료_m당월세임대료',
 '제1월시장임대료_보증금(총액)',
 '제1월시장임대료_월세(총액)',
 '제1월시장임대료_m당월세임대료',
 '제1월관리비총액',
 '제1월관리비실비총액',
 '제1월공실',
 '제2월계약임대료_보증금(총액)',
 '제2월계약임대료_월세(총액)',
 '제2월계약임대료_m당월세임대료',
 '제2월시장임대료_보증금(총액)',
 '제2월시장임대료_월세(총액)',
 '제2월시장임대료_m당월세임대료',
 '제2월관리비총액',
 '제2월관리비실비총액',
 '제2월공실',
 '제3월계약임대료_보증금(총액)',
 '제3월계약임대료_월세(총액)',
 '제3월계약임대료_m당월세임대료',
 '제3월시장임대료_보증금(총액)',
 '제3월시장임대료_월세(총액)',
 '제3월시장임대료_m당월세임대료',
 '제3월관리비총액',
 '제3월관리비실비총액',
 '제3월공실',
 '현계약개시일',
 '현계약기간',
 '최초계약개시일',
 '최종조사산정액_토지면적 m단가',
 '최종조사산정액_연면적 m당단가',
 '건축면적',
 '연면적',
 '건물구조',
 '주용도',
 '지상층수',
 '지하층수',
 '승강기수',
 '주차장면적',
 '용도지역',
 '전통시장',
 '기준층',
 '소유자수(호)',
 '소유자형태',
 '최종조사산정액_m당단가']

In [13]:
# 선택하고 싶은 칼럼 목록
columns_to_keep = ['상권명', '소재지', '제1월시장임대료_m당월세임대료','제2월시장임대료_m당월세임대료','제3월시장임대료_m당월세임대료']

# 원하는 칼럼들만 선택
filtered_df = dfd[columns_to_keep]

value_to_exclude = '0.비상권'
filtered_df = filtered_df[ (filtered_df['상권명'] != value_to_exclude)]
filtered_df

          상권명        소재지  제1월시장임대료_m당월세임대료  제2월시장임대료_m당월세임대료  제3월시장임대료_m당월세임대료
19        광화문  서울특별시 종로구            125300            125300            125300
20        광화문  서울특별시 종로구            170700            170700            170700
21        광화문  서울특별시 종로구            169400            169400            169400
22        광화문  서울특별시 종로구             95000             95000             95000
23        광화문  서울특별시 종로구             54000             54000             54000
...       ...        ...               ...               ...               ...
47456  충주자유시장   충청북도 충주시             36400             36400             36400
47457  충주자유시장   충청북도 충주시             36400             36400             36400
47458  충주자유시장   충청북도 충주시              4400              4400              4400
47459  충주자유시장   충청북도 충주시             18800             18800             18800
47460  충주자유시장   충청북도 충주시              3400              3400              3400

[37351 rows x 5 columns]

In [14]:
#null 값이 있나 확인
rows_with_null = filtered_df[filtered_df.isnull().any(axis=1)]
rows_with_null
#null 값 없음

Empty DataFrame
Columns: [상권명, 소재지, 제1월시장임대료_m당월세임대료, 제2월시장임대료_m당월세임대료, 제3월시장임대료_m당월세임대료]
Index: []

In [15]:
#서울 소재지만 사용
desired_value = '서울특별시'
filtered_df = filtered_df[filtered_df['소재지'].str.contains(desired_value, case=False)]

# 결과 출력 또는 다른 처리 수행
filtered_df

       상권명        소재지  제1월시장임대료_m당월세임대료  제2월시장임대료_m당월세임대료  제3월시장임대료_m당월세임대료
19     광화문  서울특별시 종로구            125300            125300            125300
20     광화문  서울특별시 종로구            170700            170700            170700
21     광화문  서울특별시 종로구            169400            169400            169400
22     광화문  서울특별시 종로구             95000             95000             95000
23     광화문  서울특별시 종로구             54000             54000             54000
...    ...        ...               ...               ...               ...
42432   화곡  서울특별시 강서구             45100             45100             45100
42433   화곡  서울특별시 강서구             70200             70200             70200
42434   화곡  서울특별시 강서구             70000             70000             70000
42435   화곡  서울특별시 강서구             45100             45100             45100
42436   화곡  서울특별시 강서구             50500             50500             50500

[9670 rows x 5 columns]

In [16]:
#월세평균
column1 = '제1월시장임대료_m당월세임대료'
column2 = '제2월시장임대료_m당월세임대료'
column3 = '제3월시장임대료_m당월세임대료'

filtered_df['평균값'] = filtered_df[[column1, column2, column3]].mean(axis=1)
filtered_df

C:\Users\YujinCho\AppData\Local\Temp/ipykernel_18652/942428106.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['평균값'] = filtered_df[[column1, column2, column3]].mean(axis=1)

,상권명,소재지,제1월시장임대료_m당월세임대료,제2월시장임대료_m당월세임대료,제3월시장임대료_m당월세임대료,평균값
19,광화문,서울특별시 종로구,125300,125300,125300,125300.0
20,광화문,서울특별시 종로구,170700,170700,170700,170700.0
21,광화문,서울특별시 종로구,169400,169400,169400,169400.0
22,광화문,서울특별시 종로구,95000,95000,95000,95000.0
23,광화문,서울특별시 종로구,54000,54000,54000,54000.0
...,...,...,...,...,...,...
42432,화곡,서울특별시 강서구,45100,45100,45100,45100.0
42433,화곡,서울특별시 강서구,70200,70200,70200,70200.0
42434,화곡,서울특별시 강서구,70000,70000,70000,70000.0
42435,화곡,서울특별시 강서구,45100,45100,45100,45100.0
42436,화곡,서울특별시 강서구,50500,50500,50500,50500.0